<svg
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  [style.width.px]="size"
  [style.height.px]="size"
  [attr.data-icon]="name"
>
  @switch (name) {
    @case ('chevron-down') {
      <path d="m6.5 9.5 5.5 5.5 5.5-5.5" />
    }
    @case ('play') {
      <path d="M8.25 5.75 18 12l-9.75 6.25V5.75Z" />
    }
    @case ('stop') {
      <rect class="fill" x="7" y="7" width="10" height="10" rx="1.5" />
    }
    @case ('restart') {
      <path d="M19 8.5V4.75l-2 2A8 8 0 1 0 19.4 15" />
    }
    @case ('refresh') {
      <path d="M20 6.5V11h-4.5" />
      <path d="M18.35 8.2A7.5 7.5 0 1 0 19 15" />
    }
    @case ('terminal') {
      <rect x="3.5" y="4.5" width="17" height="15" rx="2.5" />
      <path d="m7.5 9 3 3-3 3M13 15h3.5" />
    }
    @case ('external') {
      <path d="M14 5h5v5M19 5l-8.5 8.5" />
      <path d="M18 13v4.5A1.5 1.5 0 0 1 16.5 19h-10A1.5 1.5 0 0 1 5 17.5v-10A1.5 1.5 0 0 1 6.5 6H11" />
    }
    @case ('link') {
      <path d="m9.5 14.5 5-5" />
      <path d="m7.75 17.75-1 .95a3.2 3.2 0 0 1-4.45-4.6l3.15-3.05a3.2 3.2 0 0 1 4.45 0" />
      <path d="m16.25 6.25 1-.95a3.2 3.2 0 0 1 4.45 4.6l-3.15 3.05a3.2 3.2 0 0 1-4.45 0" />
    }
    @case ('copy') {
      <rect x="8" y="8" width="11" height="11" rx="2" />
      <path d="M16 8V6a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2" />
    }
    @case ('settings') {
      <circle cx="12" cy="12" r="3" />
      <path d="M19 12a7 7 0 0 0-.08-1l2-1.55-2-3.4-2.35.95a7 7 0 0 0-1.72-1L14.5 3h-5l-.35 3a7 7 0 0 0-1.72 1l-2.35-.95-2 3.4L5.08 11a7 7 0 0 0 0 2l-2 1.55 2 3.4L7.43 17a7 7 0 0 0 1.72 1l.35 3h5l.35-3a7 7 0 0 0 1.72-1l2.35.95 2-3.4-2-1.55c.05-.33.08-.66.08-1Z" />
    }
    @case ('git') {
      <circle class="fill" cx="7" cy="6" r="1.75" />
      <circle class="fill" cx="7" cy="18" r="1.75" />
      <circle class="fill" cx="17" cy="9" r="1.75" />
      <path d="M7 7.75v8.5M8.75 7.25c1.1 1.2 2.15 1.75 3.75 1.75h2.75M12.5 15c1.6 0 2.75-1 2.75-2.5V10.75" />
    }
    @case ('more') {
      <circle class="fill" cx="5" cy="12" r="1.6" />
      <circle class="fill" cx="12" cy="12" r="1.6" />
      <circle class="fill" cx="19" cy="12" r="1.6" />
    }
    @case ('x') {
      <path d="m7 7 10 10M17 7 7 17" />
    }
    @case ('warning') {
      <path d="M10.55 4.7 3.4 17.1A1.25 1.25 0 0 0 4.5 19h15a1.25 1.25 0 0 0 1.1-1.9L13.45 4.7a1.68 1.68 0 0 0-2.9 0Z" />
      <path d="M12 9v4.5M12 16.5h.01" />
    }
    @case ('grid') {
      <rect x="4" y="4" width="6" height="6" rx="1.25" />
      <rect x="14" y="4" width="6" height="6" rx="1.25" />
      <rect x="4" y="14" width="6" height="6" rx="1.25" />
      <rect x="14" y="14" width="6" height="6" rx="1.25" />
    }
    @case ('activity') {
      <path d="M4 12h3l2-5 4 10 2-5h5" />
    }
    @case ('diamond') {
      <path d="m12 3 9 9-9 9-9-9 9-9Z" />
      <path d="m12 8 4 4-4 4-4-4 4-4Z" />
    }
    @case ('search') {
      <circle cx="10.5" cy="10.5" r="6" />
      <path d="m15 15 4.5 4.5" />
    }
    @case ('list') {
      <path d="M8 6h12M8 12h12M8 18h12" />
      <circle class="fill" cx="4" cy="6" r="1.2" />
      <circle class="fill" cx="4" cy="12" r="1.2" />
      <circle class="fill" cx="4" cy="18" r="1.2" />
    }
  }
</svg>
